body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 400px;
}

#app .main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#app .top,
#app .bottom {
  padding: 1.3rem;
  display: flex;
  justify-content: center;
}

#app .top input {
  width: 100%;

  max-width: 800px;
}

.error {
  color: red;
}
